body{
    font-family: 'Noto Serif', serif;
    margin: 0%; 
    padding: 0%;
    
}
/*First area   */
.food-color{
    color:red;
    font-size: 50px;
}
.background {
    height:650px;
    margin-top: 0%;
    padding-top: 0%;
    background-image: url(images/header.bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header-area{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 20%;
    left: 15%;
    margin-left: 40%;
    margin-top: 5%;

}
.header-area h1{
    font-size: 100px;
    margin-bottom: 20px;
    margin-top: 5%;
}
.header-area h4{
    text-align: center;
    margin-top: 10px;
}
.button1{
   
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color:#e74c3c;
    margin-left: 150px;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 20px;
}
/*part 2*/
#purple-color{
    color: purple;
}
.description{
    display: flex;
}
.half{
    width: 50%;
    margin-top: 0%;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;

}
.half img{
    width: 80%;
    padding-top: 40px;
    padding-left: 20px;
}
.button2{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    background-image: linear-gradient(#bc4e9c,#f80759);
    padding: 10px 30px;
    border-radius: 15px;
   
    
}
.description{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin:0;
}
/*part 3.........*/
.about-area{
    background-image: url(images/bg-image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    padding-top: 10%;
    padding-left: 20px;
    font-size: 25px;
    color: gray;

}

/*part 4*/
.my-recipies h1 {
    color: gray;
    font-size: 50px;
    text-align: center;
}
.para{
    font-size: 15px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.card{
    background: white;
    width: 280px;
    height: 400px;
    margin: 30px;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 10px 10px 30px gray;
}
.card-image{
    height: 180px ;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 30px;

}
.card-1{
    background-image: url(images/Project\ Cover.jpg);
}
.card-2{
    background-image: url(images/Project\ Cover.png);
}
.card-3{
    background-image: url(images/Project\ Cover8.png);
}



.subscriber{
    padding-bottom: 100px;
}

.sub{
    display: flex;
    background: #fff;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 10px 20px gray;
    border-radius: 15px;
    padding: 1%;
}

.sub div{
    color: #2d3436;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sub div h1{
    font-size: 40px;
    margin: 0;
    font-weight: 700;
}

.sub div p{
    font-weight: 100;
    font-size: 15px;
}

.sub div{
    margin: 0 8%;
}

/*part 5*/
.finishing-area{
    text-align: center;
    height: 170px;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    background-color:#222f3e;

}